.filecontainer{
    position: absolute;
    top: 55%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: #D8D7D7; 
    border-top-right-radius: 20px; 
    width: 75%; 
    height: 75%; 
}

.content{
    outline: none;
    
}
