.landing-page {
  display: flex;
  justify-content: center;
  color: #7C7C7C;
  font-size: 30px;
  }

h1 {
    margin-bottom: 5px; 
}

h2 {
    margin-top: 5px; 
}

.button{
  background-color: #FFFFFF; 
  color: #4A5563; 
  padding: 15px 30px; 
  border: none; 
  border-radius: 10px; 
  font-size: 16px; 
  cursor: pointer; 
  margin-left: 50px;
  width: 200px; 
}

  .auth-links {
    margin-top: 10px;
  }
  
  .auth-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-links a:hover {
    text-decoration: underline;
  }
  
  .signupbutton{
    background: none;
    border: none;
    color: gray;
    margin-top: 10px; 
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }
  
  .button-text {
    font-size: 16px; /* Adjust font size as needed */
    margin: 0 10px; /* Adjust margin as needed */
  }

  .img-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .img-container img {
    width: 400px;
    height: 600px;
  }