.navbar {
  display: flex;
  justify-content: flex-start; 
  width: 175vh;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto; /* Center the navbar horizontally */
  position: relative; /* Keep the position as relative */
}

.filecontainer {
  position: relative; /* Keep the position as relative */
  background-color: #D8D7D7; 
  border-top-right-radius: 20px; 
  width: 175vh; 
  height: 80vh; 
  margin: 0 auto; /* Center the filecontainer horizontally */
}
  
.tab {
  background-color: #CACACB ;
  margin-left: 1px; 
  width: 200px !important;
  height: 50px !important; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  color: #7C7C7C;
}

.tab:first-child {
  margin-left: 0px;
}

.tab:hover {
  color: #7C7C7C !important;
  background-color: #D8D7D7 !important;
}

.tab.active {
  color: #7C7C7C !important;
  background-color: #D8D7D7 !important;
}

.mode-toggle {
  position: absolute;
  right: 10px;
}