.navbar {
    position: absolute;
    justify-content: flex-start; 
    display: flex;
    top: 17.4%;
    left: 18.9%;
    color: #fff;
    width: 62%;
    z-index: 1000;
  }
  
  .tab {
    background-color: #ccc !important;
    width: 100px; 
    height: 20px; 
    margin-left: 1px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-decoration: none; 
    color: inherit !important;
  }
  

  .tab:last-child {
    margin-left: 1px; 
}
  