.navbar {
    position: absolute;
    justify-content: flex-start; 
    display: flex;
    color: #7C7C7C;
    width: 100%;
    z-index: 1000;
    top: 87px;
    left: 176.5px;
  }
  
  .tab {
    background-color: #CACACB ;
    width: 100px; 
    height: 20px; 
    margin-left: 1px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-decoration: none; 
    color: inherit;
  }
  
.tab-hover{
  color: #7C7C7C !important;
}

  .tab:last-child {
    margin-left: 1px; 
}
  