.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.metadata {
    display: flex;
}
  
.profile-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: 3rem; 
  margin-right: 3rem;
}

.avatar {
  width: 8rem; 
  height: auto; 
  border-radius: 50%;
}

.avatar-placeholder {
  width: 8rem; 
  height: auto; 
  background-color: rgb(71, 89, 107);
}

.profile-label {
  color: #030816;
}

 