.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
}


.metadata {
    display: flex;
 
  }
  
  .profile-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 1rem; 

  }
  
  .avatar {
    width: 250px !important; 
    height: 250px; 
  }
  
  .avatar-placeholder {
    width: 250px; 
    height: 250px; 
    background-color: rgb(71, 89, 107);
  }
  


 