.sqlEditor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2rem 0  0;
  color: #7C7C7C;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: antiquewhite;
    color: #7C7C7C;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #7C7C7C;
  }

  .sqlEditorFilecontainer {
    overflow-y: scroll;
  }

  .sqlEditorBriefContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2rem 0 0;
} 

  .sqlEditorBrief {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
  }

  .sqlEditorBriefTab {
    background-color: #CACACB;
    width: 150px;
    height: 40px; 
    margin-left: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-decoration: none; 
    font-size: 20px;
    text-align: center;
    line-height: 40px;
  }
}