.sqlEditor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2rem 1rem;
  /* color: #7C7C7C; */

  .editorItem {
    margin: 0 1rem;
    flex: 1 1 0;
  }

  .grayText {
    color: #7C7C7C;
  }
}