.filecontainer {
    overflow-y: scroll;
}

.container {
    position: absolute;
    top: 55%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: #D8D7D7; 
    border-top-right-radius: 20px; 
    width: 175vh; 
    height: 75vh; 
}

.tab-container {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row-reverse; 
    position: absolute;
    bottom: 100%; 
    left: 0;
    width: 100%;
    color: #7C7C7C;
}

.tab {
    background-color: #CACACB;
    width: 200px !important;
    height: 50px !important; 
    margin-left: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-decoration: none; 
    font-size: 30px;
    text-align: center;
}

.tab:last-child {
    margin-left: 0; 
}

.code-snippet {
    color: #464646;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: large;
}

.code-block {
    border: 1px solid gray;
    border-radius: 5%;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}