.container {
    position: absolute;
    top: 55%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: #D8D7D7; 
    border-top-right-radius: 20px; 
    overflow-y: scroll;
    width: 175vh; 
    height: 75vh; 
}

.tab-container {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row-reverse; 
    position: absolute;
    bottom: 100%; 
    left: 0;
    width: 100%;
    color: #7C7C7C;
}

.tab {
    background-color: #CACACB;
    width: 200px !important;
    height: 50px !important; 
    margin-left: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-decoration: none; 
    font-size: 30px;
    text-align: center;
}


.tab:last-child {
    margin-left: 0; 
}