.filecontainer {
    overflow-y: scroll;
}

.container {
    position: relative !important;
    justify-content: center;
    background-color: #D8D7D7; 
    border-top-right-radius: 20px !important;
    justify-content: center; 
    width: 175vh !important; 
    height: 80vh !important; 
    margin: 0 auto !important;
    top: 7vh;
}

.tab-container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 100%; 
    left: 0;
    width: 100%;
    color: #7C7C7C;
}

.tab {
    background-color: #CACACB;
    width: 200px !important;
    height: 50px !important; 
    margin-left: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    text-decoration: none; 
    font-size: 30px;
    text-align: center;
}

<<<<<<< HEAD
.tab:last-child {
    margin-left: 0; 
}

=======
>>>>>>> cc199b975b16ef8055c08bd89651bc82a276772a
.code-snippet {
    color: #464646;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: large;
}

.code-block {
    border: 1px solid gray;
    border-radius: 5%;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}