.overallContainer{
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically align items */
  height: 60vh;
}

  .textContainer {
    position: absolute; /* Set content to absolute positioning */
    left: 25vw;
    top: 10vh;
  }

  .Speaker {
    position: absolute; /* Set content to absolute positioning */
    left: 5vw;
    width: 300px;
    top: 25vh;
  }

  .label {
    align-items: left;
    justify-content: left; 
    margin-left: 0;
    padding-left: 0;
    background-color: #4f4d4b; 
    border: 1px solid #131313; 
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px; 
    box-sizing: border-box; 
    width: 800px; 
    width: 50vw; 
    height: 200px;
    font-family: Marker Felt;
    font-size: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .dialogue {
    width: 200px;
    height: 50px;
    margin-top: 10px; /* buttons margin */
  }