.content {
    padding: 0.1rem
}

.content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s;
    color: rgb(0, 0, 0);
}

.content-show {
    height: 120px;
    color: rgb(0, 0, 0);
}